// Slide In's
@keyframes slideIn {
    from {
        width: 0;
        opacity: 0;
        transform: translateY(-15rem); 
    }
    to {
        width: 100%;
        opacity: 1;
        transform: translate(0); 
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translate(-15rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(15rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Background change on hover for menu icon

@keyframes menu_icon_hover {
    0% {
        background-color: rgba($rich-black, 0);
    }
    100% {
        background-color: rgba($rich-black, 1);
    }
}

@keyframes on-scroll-slide-top{
    0% {
        opacity: 0;
        transform: translateY(50rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes menu-down {
    from {
        opacity: 0;
        top: -100%;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
// BALLS MOVEMENT ON THE SERVICE PAGE
@keyframes movement-up-down-1 {
    0% {transform: translateY(0);}
    35% {transform: translateY(-2rem);}
    // 50% {transform: rotate(50deg);}
    65% {transform: translateY(2rem);}
    100% {transform: translateY(0);}
}
@keyframes movement-up-down-2 {
    0% {transform: translateY(0);}
    35% {transform: translateY(3rem);}
    // 50% {transform: rotate(50deg);}
    65% {transform: translateY(-2rem);}
    100% {transform: translateY(0);}
}


// SUBMIT BUTTON ANIMATION 
@keyframes submit-btn-scale {
    0% {
        width: 12rem;
        height: 12rem;
    }
    25% {
        width: 14.5rem;
        height: 14.5rem;
    }
    50% {
        width: 17rem;
        height: 17rem;
    }
    100% {
        width: 13.5rem;
        height: 13.5rem;
    }
}
@keyframes submit-btn-icon-fly {
    0% {
        transform: translate(-6rem, 8rem) scale(0.4);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}
