// Website Colors
$color-main: #f3f5f7; // cultured (light blueish gray
$secondary-color: #ebd2c2; // Champain pink 
$rich-black: #27292b;
$lavender-grey: #BCBFC8;
$pale-pink: #e9cccc;
$light-coral: #EC8A83;
$red-crayola:#E84855;
$color-white: #fff;




